/* Basic Settings */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
  margin: 0;
  padding: 0;
}

/* My Base */

html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  height: 100%;
  max-height: 100%;
  font-family: $base-font-family;
  font-size: 1.8rem;
  line-height: 1.5em;
  color: #3A4145;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  text-rendering: geometricPrecision;
}

::-moz-selection {
  background: #D6EDFF;
}

::selection {
  background: #D6EDFF;
}

h1, h2, h3,
h4, h5, h6 {
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  text-rendering: geometricPrecision;
  margin: 0 0 0.4em 0;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

a {
  color: #4A4A4A;
  text-decoration: none;
  transition: all 0.24s ease;

  &:hover {
    text-decoration: none;
  }
}

::-webkit-input-placeholder {
  color: lighten($grey-color, 20%);
  font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
  color: lighten($grey-color, 20%);
  font-weight: 300;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: lighten($grey-color, 20%);
  font-weight: 300;
}

:-ms-input-placeholder {
  color: lighten($grey-color, 20%);
  font-weight: 300;
}

/**
 *  Util
 */
.clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}

.inner {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 0 auto;
}

.vertical {
  display: table-cell;
  vertical-align: middle;
}

.right {
  float: right;
}
.left {
  float: left;
}

body.bio-open {
	//overflow: hidden;

	.site-bio {
		transform: translate3d(0, 0, 0);
	}
	.site-wrapper {
		transform: translate3d(-280px, 0, 0);

		.overlay {
			opacity: 1;
			visibility: visible;
		}
	}
	.article .article-navigation-header .navigation,
	.article .article-navigation-header .navigation.sticky {
		position: relative;
	}
}

/**
 *  Universal Wrapper
 */
.site-wrapper {
  position: relative;
  min-height: 100%;
  background: url(/css/images/bright_squares_@2X.png) #DDDDDD repeat;
  background-size: 500px 500px;
	background-color: #ddd;
  overflow: hidden;
	transition: all 0.24s ease;
	z-index: 10;

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
		opacity: 0;
		background-color: rgba($white, 0.5);
		transition: all 0.24s ease;
		visibility: hidden;
		z-index: 9999;
	}
}

/**
 *  White box common style
 */
.white-box {
  background: $white;
  border-radius: 3px;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
  border-bottom: 1px dotted lighten($black, 40%);
  overflow: hidden;
}
