<% if (site.posts.length){ %>
  <div class="widget-wrap white-box archive">
    <h3 class="widget-title">
      <span>Archives</span>
      <a href="/archives" class="more right">
        <span class="icon icon-more2"></span>
      </a>
    </h3>
    <div class="widget">
      <%- list_archives() %>
    </div>
  </div>
<% } %>
