<%- partial('_partial/loading') %>

<header id="header" class="site-header clearfix">

  <div class="header-bar">
    <button class="site-nav-switch svg-anime-icon icon-menu-cross">
      <span>toggle menu</span>
    </button>
    <a class="site-title" href="/">
      <span class="site-brand light">Arti</span>
      <span class="site-brand dark">fact.</span>
    </a>
    <button type="button" class="site-bio-switch">
      <span class="icon icon-v-card"></span>
    </button>
  </div>

  <%- partial('_partial/menu') %>

</header>
